<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICloudSyncService" />
                <binding name="BasicHttpBinding_ICloudDBService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45610/Services/CloudSyncService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICloudSyncService"
                contract="CloudSyncServiceReference.ICloudSyncService" name="BasicHttpBinding_ICloudSyncService" />
            <endpoint address="http://localhost:45610/Services/CloudDBService"
                binding="basicHttpBinding" contract="CloudSyncServiceReference.ICloudDBService"
                name="CloudDBService" />
            <endpoint address="http://localhost:45610/Services/CloudDBService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICloudDBService"
                contract="CloudDBServiceReference.ICloudDBService" name="BasicHttpBinding_ICloudDBService" />
        </client>
    </system.serviceModel>
</configuration>