<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncService" />
                <binding name="BasicHttpBinding_ISyncService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3451/SmartPresenter.Service.LocalSyncService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService"
                contract="LocalSyncServiceReference.ISyncService" name="BasicHttpBinding_ISyncService" />
            <endpoint address="http://localhost:3450/SmartPresenter.Service.CloudSyncService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService1"
                contract="CloudSyncServiceReference.ISyncService" name="BasicHttpBinding_ISyncService1" />
        </client>
    </system.serviceModel>
</configuration>