@{
    ViewBag.Title = "SmartPresenter Web Portal";
}
<style type="text/css">
    li{
        display:inline;
        margin:5px;
    }
</style>
<div>
    <h4>Groups</h4>
</div>

<div class="row">
    <ul>
        <li><a href="@Url.Action("Index","Customer")"><img src="~/Images/settings.png" height="128" width="128">Customer1</a></li>
        <li><a><img src="~/Images/settings.png" height="128" width="128">Customer2</a></li>
        <li><a><img src="~/Images/settings.png" height="128" width="128">Customer3</a></li>
        <li><a><img src="~/Images/settings.png" height="128" width="128">Customer4</a></li>
        <li><a><img src="~/Images/settings.png" height="128" width="128">Customer5</a></li>
    </ul>
</div>